# 11-29 15:15~

### IQR Rule을 주로 활용하는게 일반적이고, 이 IQR Rule을 이용했을때 좋은 성능이 안 나오면 9번 코드인 DBSCAN을 이용해서 이상치를 판단하게 된다.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./데이터/glass.csv") #유리 타입을 결정하는 여러가지 요소들. #Type이 목적변수에 해당한다.

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0     1

In [7]:
# 특징과 라벨 분리
X = df.drop(['Type'], axis=1)
Y = df['Type']

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Fe      214 non-null    float64
 8   Type    214 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 15.2 KB

In [9]:
# 학습데이터와 평가 데이터 분리
# 학습데이터/평가데이터 분리
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y) #실행할때마다 다르게 나옴.
Train_X.shape

(160, 8)

In [10]:
# 원래 여기 Imagefile있는데 완성본에서 받으라고 함

IQR은 Q3에 위치하는 값에서 Q1에 위치하는 값을 뺀 차이를 IQR이라고 부른다.
그리고 박스 플롯에서 왼쪽 직선과 오른쪽 직선. 얘가 세로로 서면 아래 직선과 위에 직선인 거다. 왼쪽 직선은 미니멈이고 오른쪽직선은 맥시멈인데 전ㅊ ㅔ컬럼의 전체 데이터에서 min과 max를 의미하는게 아니라 아랫쪽의
미니멈은 Q1위치에 해당하는 값에서 IQR의 1.5배만큼 왼쪽으로 이동한다. 그럼 Q1보다 작은 값이겠다. 작은 위치를 정할때 IQR 범위의 1.5배한것만큼 빼서 밑으로 내려간다. 이게 미니멈이고 이게 미니멈보다 크면 정상데이터로 본다.
 거꾸로 Q3를 기준으로 IQR의 1.5배만큼 위로 올라간다. 더해줘야겠다. 이 부분이 맥시멈이겠고 맥시멈보다 작으면 정상데이터로 본다. 이렇게 미니멈과 맥시멈을 IQR와 Q1, Q3를 기준으로 ~~ 범위를 벗어나면 이상치로 계산을 하게 된다.
  해당되는 컬럼의 데이터에 대해서 numpy의 무슨 함수를 이용하면 Q1과 Q3를 계산해낼 수 있고, Q1과 Q3를 계산해내면 IQR 계산도 가능해져서 minimum과 maximum 계산도 가능하다.

In [13]:
val_list = df['RI']

In [19]:
# 위 컬럼값에 대해 Q1과 Q3를 계산할 것이다.
# 계산값은 numpy의 quantile()를 이용해서 계산을 한다. quantile() 내부에는 계산할 리스트를 넘겨주고, 몇 %에 위치하는 값을 가지고 올 것인지 퍼센트를 넘겨주면 된다. #np의 quantile(list, percentile)
import numpy as np
Q1 = np.quantile(val_list, 0.25)
Q3 = np.quantile(val_list, 0.75)

# IQR 계산: Q3 - Q1
IQR = Q3 - Q1

print(Q1, Q3, IQR)

1.5165225 1.5191575 0.002634999999999943

In [24]:
# minimum - boxplot의 아래 경계
# minimum보다 작으면 이상치
minimum = Q1-1.5*IQR
# 위 결과보다 작으면 이상치

In [25]:
# maximum - boxplot의 윗경계
# maximum보다 크면 이상치
maximum = Q3 + 1.5 * IQR

In [26]:
((maximum > val_list) & (minimum < val_list)) #정상 데이터 조건

0      True
1      True
2      True
3      True
4      True
       ...
209    True
210    True
211    True
212    True
213    True
Name: RI, Length: 214, dtype: bool

In [27]:
# maximum <= val_list 는 이상치
((maximum > val_list) & (minimum < val_list)).sum() #df.info()에서 214개였는데 197개만 정상치임. 그럼 이상치가 17개라는 뜻!

197

In [29]:
# IQR 룰에 따라 이상치 판별하는 함수 - 컬럼별로 이상치 판별해야 함
def IQR_rule(val_list):
    # IQR 계산
    Q1 = np.quantile(val_list, 0.25)
    Q3 = np.quantile(val_list, 0.75)
    
    #IQR 계산: Q3-Q1
    IQR = Q3-Q1
    
    #경계값 계산
    minimum = Q1 - 1.5 * IQR
    maximum = Q3 + 1.5 * IQR
    
    # 이상치 조건을 통해 판별
    not_outlier_cond = (maximum>val_list) & (minimum < val_list)
    
    return not_outlier_cond

In [30]:
# 함수 테스트
#IQR_rule(Train_X['Na'])

In [31]:
# 사용자 정의 함수를 데이터프레임의 각 열별로 호출해야 함
# apply()함수 활용하면 효율적
# Trains_X에 대해 이상치 확인
conditions = Train_X.apply(IQR_rule)
# IQR_rule() 함수를 컬럼별로 호출함

In [32]:
conditions #True는 이상치가 없다는 뜻. #False가 이상치가 있다는 뜻.

        RI     Na     Mg     Al     Si      K     Ca     Fe
142   True   True   True   True   True   True   True  False
109   True   True  False  False  False   True  False   True
162   True   True   True   True   True   True   True  False
21    True   True   True  False   True   True   True   True
102   True   True   True   True   True   True   True   True
..     ...    ...    ...    ...    ...    ...    ...    ...
184  False  False  False  False  False   True  False   True
172   True   True  False  False  False  False   True   True
140   True   True   True   True   True   True   True   True
50   False   True   True  False   True   True   True   True
146   True   True   True   True   True   True   True   True

[160 rows x 8 columns]

In [36]:
tot_cond = conditions.sum(axis=1) == len(Train_X.columns) #len(Train_X.columns)는 8
#IQR 규칙에 위배되는 이상치 값이 하나라도 있는 레코드를 제거하기 위한 조건

In [37]:
Train_X = Train_X.loc[tot_cond]

In [38]:
Train_X.shape #실행할때마다 다르게 나올 수 있음. train_test_split(X, Y)에서 랜덤스테이트 값 안 줘서 그럼.

(105, 8)

In [ ]:
# 데이터가 너무 적다면 이상치를 포함해서 모델링을 진행할 수도 있다.