# 11월 21일 실습2(exam4.ipynb 관련)

#### <span style="color:blue">1번</span>

In [25]:
import pandas as pd
data = {
    'name':['둘리','또치','도우너','희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60]
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반'] #책 31pg
print(df)
display(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

#### <span style="color:blue">2번</span>

In [26]:
df.loc[4] = ['마이콜', 80, 80, 80, '1반'] #책 32pg
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

#### <span style="color:blue">3번</span>

In [27]:
df = df.set_index('name') #책 39pg
df.columns = ['국어','영어','수학','반번호'] #책 15pg
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

#### <span style="color:blue">4번</span>

In [28]:
df.loc['마이콜'] = [100, 100, 100, '1반']
df.loc['희동이','영어'] = 90 #df.iloc[-2][1]과 같다. #['희동이']['영어']로 하면 에러가 남. 이런 방식은 읽는건 괜찮은데 대입하는건 보장하지 못한다고 에러코드에 나와있음.
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

#### <span style="color:blue">5번</span>

In [29]:
df.reset_index(inplace=True) #책 42pg
df.rename(columns={'name':'성명'}, inplace=True)
print(df)

    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

#### <span style="color:blue">6번</span>

In [30]:
df1 = df.sort_values(by='국어', ascending=False)
df2 = df.sort_values(by='영어', ascending=True)
print(df1)
print(df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
    성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

#### <span style="color:blue">7번</span>

In [32]:
temp = 0
temp_list = []
for i in range(5): #end값은 미포함
    for j in range(1,4):
        temp = temp + df.iloc[i,j]
    temp_list.insert(i, temp) #temp_list[i] = temp가 아님
    temp = 0
    #print(temp_list[i])

df['총점'] = temp_list #위에서처럼 for문 안 쓰고 df.sum(axis=1, numeric_only=True)도 가능. lab8하면서 알아냄
print(df)

279
248
237
220
300
    성명   국어   영어   수학 반번호   총점
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220
4  마이콜  100  100  100  1반  300

#### <span style="color:blue">8번</span>

In [33]:
df3 = df.drop('반번호', axis=1)
print(df3)
print(df)

    성명   국어   영어   수학   총점
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
4  마이콜  100  100  100  300
    성명   국어   영어   수학 반번호   총점
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220
4  마이콜  100  100  100  1반  300

#### <span style="color:blue">9번</span>

In [34]:
df4 = df.drop(4, axis=0)
print(df4)
print(df)

    성명  국어  영어  수학 반번호   총점
0   둘리  90  99  90  1반  279
1   또치  80  98  70  2반  248
2  도우너  70  97  70  1반  237
3  희동이  70  90  60  2반  220
    성명   국어   영어   수학 반번호   총점
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220
4  마이콜  100  100  100  1반  300

#### <span style="color:blue">10번</span>

In [37]:
data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series(data1)
series2 = pd.Series(data2)
series3 = pd.Series(data3)
#result = series1 + series2 + series3 
result = series1.add(series2, fill_value=0).add(series3, fill_value=0) #시리즈 연산 메소드(책 51pg)
print(result)

eng    140.0
kor    270.0
mat    160.0
dtype: float64

#### <span style="color:blue">11번</span>

In [45]:
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
}
df = pd.DataFrame(data, index=['Y1', 'Y2', 'Y3','Y4','Y5'])
print(df)
df.loc['Y6'] = [10, 20, 30, 40] #다른 데이터가 실수면 새로 추가하는 데이터도 실수로 저장됨. 즉 10, 20, 30은 10.0, 20.0, 30.0으로
print(df)
df = df+10
print(df)
df['total'] = df.X1 + df.X2 + df.X3 + df.X4 #이런 방식은 생각 못했음 #열선택은 책 23pg
print(df)
df = df.transpose() #df = df.T
print(df)

     X1   X2    X3  X4
Y1  2.9  9.2  13.2   2
Y2  2.4  8.7  11.5   3
Y3  2.0  7.2  10.8   4
Y4  2.3  8.5  12.3   3
Y5  3.2  9.6  12.6   2
      X1    X2    X3  X4
Y1   2.9   9.2  13.2   2
Y2   2.4   8.7  11.5   3
Y3   2.0   7.2  10.8   4
Y4   2.3   8.5  12.3   3
Y5   3.2   9.6  12.6   2
Y6  10.0  20.0  30.0  40
      X1    X2    X3  X4
Y1  12.9  19.2  23.2  12
Y2  12.4  18.7  21.5  13
Y3  12.0  17.2  20.8  14
Y4  12.3  18.5  22.3  13
Y5  13.2  19.6  22.6  12
Y6  20.0  30.0  40.0  50
      X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0
         Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0