# 11월 21일 실습1(exam4.ipynb 관련)

#### <span style="color:blue">문제1</span>

In [2]:
# 예제 1-1 참고
# pandas 불러오기 
import pandas as pd

list_data = [10, 20, 30, 40, 50]

sr = pd.Series(list_data)

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


0    10
1    20
2    30
3    40
4    50
dtype: int64

#### <span style="color:blue">문제2</span>

In [4]:
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
d    4
e    5
dtype: int64

#### <span style="color:blue">문제3</span>

In [5]:
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'학생1':'둘리', '학생2':'또치', '학생3':'도우너', '학생4':'희동이', '학생5':'마이콜'}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

#### <span style="color:blue">문제4</span>

In [6]:
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
list_data = {'둘리', '또치', '도우너', '희동이', '마이콜'}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data, index=['학생1', '학생2', '학생3', '학생4', '학생5'])

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>


학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

#### <span style="color:blue">문제5</span>

In [16]:
import pandas as pd

blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index=blood)
print("[시리즈 sr 출력]")
print(sr)
print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자 인덱스 사용)]")
print(sr[0])
print(sr[3])
print(sr[1])
print(sr[1:4]) #숫자 인덱스는 end값은 포함되지 않는다.
print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름 인덱스 사용)]")
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr['B형':'AB형'])
print("시리즈 sr의 크기 출력")
print(len(sr))
print("시리즈 sr의 인덱스 출력")
print(sr.index)
print("시리즈 sr의 데이터 값 출력")
print(sr.values)

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자 인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름 인덱스 사용)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64
시리즈 sr의 크기 출력
4
시리즈 sr의 인덱스 출력
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')
시리즈 sr의 데이터 값 출력
[34.2 27.1 26.7 11.5]

#### <span style="color:blue">문제6</span>

In [18]:
import pandas as pd


name = ['둘리','또치','도우너','희동이']
kor = [90, 80, 70, 70]
eng = [99, 98, 97, 46]
mat = [90, 70, 70, 60]
dict_data = {'name':name, 'kor':kor, 'eng':eng, 'mat':mat}

df = pd.DataFrame(dict_data)
print(df)

  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

#### <span style="color:blue">문제7</span>

In [19]:
import pandas as pd


name = ['둘리','또치','도우너','희동이']
kor = [90, 80, 70, 70]
eng = [99, 98, 97, 46]
mat = [90, 70, 70, 60]
dict_data = {'name':name, 'kor':kor, 'eng':eng, 'mat':mat}

df = pd.DataFrame(dict_data)

df.index = ['학생1', '학생2', '학생3', '학생4'] #행의 인덱스명 설정
print(df)

    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

#### <span style="color:blue">문제8</span>

In [23]:
import pandas as pd


name = ['둘리','또치','도우너','희동이']
kor = [90, 80, 70, 70]
eng = [99, 98, 97, 46]
mat = [90, 70, 70, 60]
dict_data = {'name':name, 'kor':kor, 'eng':eng, 'mat':mat}

df = pd.DataFrame(dict_data)

df.index = ['st1', 'st2', 'st3', 'st4'] #행의 인덱스명 설정
df.columns = ['dooly', 'doochi', 'dounar', 'heedong'] #컬럼명 설정
print(df)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

#### <span style="color:blue">문제9</span>

In [62]:
import pandas as pd

data = {
    'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
    'kor':[90, 80, 70, 70, 60, 70, 90],
    'eng':[99, 98, 97, 46, 77, 56, 90],
    'mat':[90, 70, 70, 60, 88, 99, 90]
}
df = pd.DataFrame(data)
print(df.head())
print(df.tail())
print(df.columns)
print(df['name'])
print(df.name)
print(df[['kor','mat']])
print(df.iloc[3])
print(df.iloc[0][0])
print(df.iloc[3][2])
print(df.iloc[[2,3],[2]]) 
print(df.iloc[[2,3],[2,3]]) #iloc[2:4,2:4]도 되는것 같음.
print(df.loc[3]) #loc 인덱서를 사용하여 4번째 행을 출력한다. #인덱스 이름을 이용
print(df.loc[0]['name']) #loc 인덱서를 사용하여 첫번째행, 첫번째열을 출력한다. #loc[0,'name']도 가능해 보임
print(df.loc[3]['eng']) #loc 인덱서를 사용하여 네번째행, 세번째열을 출력한다.
print(df.loc[[2,3],['eng']]) #loc 인덱서를 사용하여 3번째와 4번째행의 3번째 열을 출력한다.
print(df.loc[[2,3],['eng', 'mat']]) #loc 인덱서를 사용하여 3번째와 4번째행의 3번째와 4번째 열을 출력한다.

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90
Index(['name', 'kor', 'eng', 'mat'], dtype='object')
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object
   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
   eng
2   97
3   46
   eng  mat
2   97   70
3   46   60
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object
듀크1
46
   eng
2   97
3   46
   eng  mat
2   97   70
3   46   60

#### <span style="color:blue">문제10</span>

In [69]:
#10번 문제에서 사용한 df 재활용
#책 39pg 참고
name = ['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7']
#df.index=name #이건 행 인덱스를 새로 추가하는 방법
df.set_index("name", inplace=True) #이건 기존 열을 행 인덱스로 설정하는 방법
print(df)

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90