# 11월 21일 실습2(exam4.ipynb 관련)

#### <span style="color:blue">1번</span>

In [68]:
import pandas as pd
data = {
    'name':['둘리','또치','도우너','희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60]
}
df = pd.DataFrame(data)
df['class'] = ['1반', '2반', '1반', '2반'] #책 31pg
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

#### <span style="color:blue">2번</span>

In [69]:
df.loc[4] = ['마이콜', 80, 80, 80, '1반'] #책 32pg
print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

#### <span style="color:blue">3번</span>

In [70]:
df = df.set_index('name') #책 39pg
df.columns = ['국어','영어','수학','반번호'] #책 15pg
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

#### <span style="color:blue">4번</span>

In [71]:
df.loc['마이콜'] = [100, 100, 100, '1반']
df.loc['희동이','영어'] = 90 #['희동이']['영어']로 하면 에러가 남. 이런 방식은 읽는건 괜찮은데 대입하는건 보장하지 못한다고 에러코드에 나와있음.
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

#### <span style="color:blue">5번</span>

In [75]:
df.reset_index(inplace=True) #책 42pg
df.rename(columns={'name':'성명'}, inplace=True)
print(df)

   index   성명   국어   영어   수학 반번호
0      0   둘리   90   99   90  1반
1      1   또치   80   98   70  2반
2      2  도우너   70   97   70  1반
3      3  희동이   70   90   60  2반
4      4  마이콜  100  100  100  1반

    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반